    .body {
        margin: 0;
    }

    .header-center {
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .header {
        background-color: rgb(27, 84, 221);
        width: 600px;
        height: 861px;
        display: grid;
        place-items: center;
        text-align: center;
        grid-template-rows: 55.4px 88px 270px 87px 85px 41px;
        grid-auto-flow: row;
        /* grid-template-rows: auto; */
        row-gap: 32px;
        padding-top: 32px;
    }

    .wisp-container {
        margin-bottom: 10.56px; /* Добавляем дополнительный отступ */
    }

    .wisp {
        display: flexbox;
        color: fff;
        width: 100px;
        height: 55.4px;
        font-size: 31.58px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .persian-kitten {
        display: flexbox;
        color: fff;
        font-family: Inter;
        font-size: 36px;
        /* margin-top: 130px; */
        width: 480px;
        height: 88px;
    }

    .persian-kitten-image {
        display: flexbox;
        height: 270px;
        width: 480px;
        /* margin-top: 250px; */
    }

    .persian-kitten-fact {
        color: fff;
        display: flexbox;
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        width: 480px;
        height: 87px;
        /* margin-top: 552px; */
    }

    .desc {
        display: flexbox;
        text-align: center;
        color: fff;
        height: 85px;
        width: 480px;
        font-family: Inter;
        font-size: 14px;
        /* margin-top: 671px; */
    }

    .cta-button-header {
        display: flexbox;
        background-color: fff;
        height: 41px;
        width: 110px;
        border-radius: 5px;
        color: black; 
        /* text-align: center;
        justify-content: center;
        align-items: center; */
    }


    .main-center {
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .main {
        width: 600px;
        height: 921px;
        background-color: fff;
        display: grid;
        grid-template-rows: 240px 240px 240px 41px;
        grid-auto-flow: row;
        row-gap: 32px;
        padding-top: 32px;
        justify-items: center;
        align-items: center;
    }

    .frst-kitten {
        display: flex;
        width: 480px;
        height: 240px;
        align-items: center;
    }

    .scnd-kitten {
        display: flex;
        width: 480px;
        height: 240px;
        align-items: center;
    }

    .thrd-kitten {
        display: flex;
        width: 480px;
        height: 240px;
        align-items: center;
    }

    .kit-image {
        width: 240px;
        height: 240px;
    }

    /* .text-content {

    } */

    .title-kittens {
        display: flex;
        padding-left: 32px;
        font-family: Inter;
        font-size: 24px;
    }

    .desc-kittens {
        display: flex;
        padding-left: 32px;
        font-family: Inter;
        font-size: 14px;
    }

    .link-kittens {
        display: flex;
        padding-left: 32px;
        font-family: Inter;
        font-size: 14px;
    }

    .cta-button-main {
        display: flexbox;
        background-color: rgb(27, 84, 221);
        height: 41px;
        width: 110px;
        border-radius: 5px;
        color: fff; 
    }

    .footer-center {
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .footer {
        background-color: rgb(232, 232, 232);
        display: grid;
        width: 600px;
        height: 181px;
        justify-items: center;
        align-items: center;
    }