.dataSetTable {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  color: #000000;
}

/* Стили для заголовков */
.dataSetTable thead tr {
  background-color: #d02727;
  /* Темно-серый фон */
  color: #000000;
  /* Белый текст */
  text-align: left;
  font-weight: bold;
}

.dataSetTable th,
.dataSetTable td {
  padding: 12px 15px;
  border: 1px solid #6c1414;
  /* Темно-серая граница */
}

/* Стиль для выделенных строк */
.dataSetTable tbody tr.selected {
  background-color: #16b75e !important;
  /* Синий цвет */
}

/* Альтернативная окраска строк */
.dataSetTable tbody tr:nth-child(even) {
  background-color: #ffffff;
  /* Светло-серый */
}

.dataSetTable tbody tr:nth-child(odd) {
  background-color: aliceblue;
  /* Немного темнее серый */
}

/* Стиль для области выделения строки */
.selectableArea {
  width: 30px;
  text-align: center;
  background-color: aliceblue;
  /* Светло-серый */
  border-right: 1px solid #555;
  /* Серая граница */
}

/* Стиль при наведении курсора */
.dataSetTable tbody tr:hover {
  background-color: #7cec8f !important;
  /* Темно-синий при наведении */
  cursor: pointer;
}

/* Стили для формы добавления комментария */
.form {
  margin: 20px 0 0 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(128, 172, 210);
  /* Светло-серый фон */
}

.form input,
.form textarea {
  padding: 10px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  background-color: aliceblue;
  /* Немного темнее серый */
  color: #000000;
  /* Белый текст */
}

.form input:focus,
.form textarea:focus {
  border-color: #7cec8f;
  /* Синий */
  outline: none;
}

.form textarea {
  resize: vertical;
  min-height: 80px;
}

.form button {
  padding: 10px 15px;
  background-color: #4b9758;
  /* Синий */
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #7cec8f;
  /* Темно-синий */
}

/* Стили для кнопки "Редактировать" */
.startEditing {
  padding: 10px 15px;
  background-color: #4b9758;
  /* Синий */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.startEditing:hover {
  background-color: #7cec8f;
  /* Темно-синий */
}

.saveChanges {
  padding: 10px 15px;
  background-color: #4b9758;
  /* Синий */
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saveChanges:hover {
  background-color: #7cec8f;
  /* Темно-синий */
}

.cancelEditing {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #c62828;
  /* Темно-красный */
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelEditing:hover {
  background-color: #b71c1c;
  /* Очень темно-красный */
}

/* Стили для кнопки "Удалить выделенные" */
.handleDeleteSelected {
  padding: 10px 15px;
  background-color: #c62828;
  /* Темно-красный */
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
}

.handleDeleteSelected:hover {
  background-color: #b71c1c;
  /* Очень темно-красный */
}

.handleDeleteSelected:disabled {
  background-color: #7e1b1b;
  /* Серый */
  cursor: not-allowed;
}